akty_prawne_csv
akty_prawne_faiss
prawa_i_kodeksy_pdf
__pycache__
workspace.ipynb
constitution.py
create_uni_db.ipynb
danegov.csv
datagovclearning.ipynb
kalendarium_.csv
kalendarium.csv
kalendarium.ipynb
logs.csv
przygotowanie_bazy_aktow_prawnych.ipynb
resp
resp.obj
uni_scrapper.py
workspace.ipynb
uni_db